body { background-color: #F9FCFF; }
h1 {color:navy;}

.off {
	width: 20px;
	height: 20px;
	color: gray;
	border-radius:25px;
	background-color:gray;
}
.on {
	width: 20px;
	height: 20px;
	color: gray;
	border-radius:25px;
	background-color:red;
}